* {
	margin: 0px;
	padding: 0px;
	font-family: monospace;
	text-decoration:none;
	text-align: center;
	color: #FFFFFF;
}

body {background-color: #1F2229;}

img.a {
  vertical-align: text-bottom;
}

.header2{
    max-width: 90%;
    margin: 30px auto;
    overflow: auto;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    background: rgba(29, 32, 38, 0.8);

}

.container{
    max-width: 90%;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    background: rgba(29, 32, 38, 0.8);

}

h1 {
  color: white;
  font-family: monospace;
  font-size: 350%;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 0;

  }

#header {
	font-size: 45px;
	color: #E7E7E7;
	display: flex;
  	align-items: center;
  	justify-content: center
}

#search-field {
	width: calc(80% - 10px);
	border: none;
	padding: 10px;
	background-color: #FFFFFF;
	border-bottom: 5px solid #E7E7E7;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #1F2229;
	outline: none;
}

#search-submit {
	width: calc(20% - 10px);
	border: none;
	padding: 10px;
	float: right;
	background-color: #4D86C0;
	border-bottom: 5px solid #286EA8;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #1F2229;
	outline: none;
}

#search-submit:active {
	border-bottom: 2.5px solid #286EA8;
	transform: translateY(2.5px);
}

#container table {
	width: 100%;
	font-size: 15px;
}

#container th {
	width: 25%;
	color: #4D86C0;
	text-transform: uppercase;
}

*{
	margin: 0;
	padding: 0;
  }

  ul{
	list-style: none;
  }

  #menu li>a:hover{
	color: #000;
	background-color: #000000;
  }
  #menu>li{
	text-align:center
  }
  #menu>li>ul{
	display: none;

  }
  #menu>li:hover>ul {
	display:block;
  }